*{
    padding: 0;
    margin: 0;
}
.top {
    background-image: url(../img/D6F052FF-4EE5-48A6-9966-C5DFA0E4ECE6_1_105_c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    font-size: 30px;
    animation: blinkAnime 1.9s infinite alternate;
    background-attachment: fixed;

    }
    @keyframes blinkAnime{
        0% { opacity : 0; }
       88% { opacity : 1; }
      100% { opacity : 2; }
     }


    

.nav {
    display: flex;
}
.headerright li {
    margin-right: 50px;
    
}

.headerright {
    display: flex;
    justify-content:flex-end;
}

.nav > li > a {
    text-decoration: none;
    color: azure;
    font-style: italic;
    font-family: fantasy;
}

/* .top h1 {
    font-size: 150px;
    color: dimgrey;
    font-weight: bold;
    text-align: center;
    padding-right: 350px;
    padding-top: 200px;
    font-family: 'Bangers', cursive;
} */
.top > #top-name {
    text-align: center;
    padding-top: 270px;
    font-family: 'Bangers', cursive;
    font-size: 170px;
    color: beige;
    font-weight: bold;

   
}
.profile {
    height: 430px;
    margin-left: 250px;
    border-radius:  50px;
    margin-top: 50px;
    margin-bottom: 20px;
   
    
}
.main_photo {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(248, 246, 246, 0) 0%, #cbe2e4 30%);
}

.about {
    font-family: fantasy;
    padding-left: 170px;

}
#about {
    /* padding-bottom: 60px; */
    position: relative;
    display: inline-block;
    padding: 0 55px;
}
#about:before, #about:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 4px;
    background-color: black;
  }
  
  #about:before {
    left:0;
  }
  #about:after {
    right: 0;
  }



.name {
    font-size: 70px;
    font-family: 'Parisienne', cursive;
    padding-top: 40px;
    color:slategrey;
}
.about > h2{
    font-size: 50px;
    background-image: linear-gradient rgba(161, 26, 26, 0) 50%, rgb(183, 198, 201) 90%;

}
.box {
    text-align: center;

}
#other {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    font-size: 50px;
    font-family: fantasy;
  
}
#other:before, #other:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 4px;
    background-color: black;
}
#other:before {
    left:0;
}
#other:after {
    right: 0;
}

.discription {
    font-size: 20px;
    padding-top: 50px;
    font-family: fantasy;
}
.subtitle {
    font-size: 50px;
    font-family: fantasy;
    display: flex;
    justify-content: space-around;

}
.cebu {
    height: 400px;
    padding-top: 10px;
}
.name2 > h2 {
    padding-bottom: 10px;
}
.aus {
    height: 400px;
    width: 300px;
    margin: 20px;
}
.india {
    height: 400px;
    width: 300px;
    padding-top: 10px
    ;
}
#sub > h2 {
    font-family: fantasy;
    font-size: 50px;
    background-image: linear-gradient (rgba(161, 26, 26, 0) 50%, rgb(183, 198, 201) 90%);
    text-align: center;
}
#sub {
    padding-top: 20px;
}

.subtitle {
    padding-top: 50px;
}
footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(193, 202, 211);
    margin-top: 80px;

}
footer p {
    color: snow;
    font-family: fantasy;
}

.name2 > p {
    font-size: 20px;
    width: 250px;
    padding: 20px;
    border: 1px solid black;
    
}
.name2 > h2 {
    font-size: 50px;
    padding-top: 20px;

}
.yoga {
    background-image: url(../img/5\ Life-Changing\ Benefits\ of\ Hatha\ Yoga\,\ and\ How\ to\ Get\ Started\ _\ Livestrong_com.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 60vh;
    padding: 50px;
    font-size: 100px;
    font-family: 'Bangers', cursive;
}
.discription h2 {
    font-size: 30px;
    background-color: blanchedalmond;
}
.container2 {
    display: flex;

}
.box1 {
    /* margin-bottom: 2px; */
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

#contact {
    position: relative;
    display: inline-block;
    padding: 0 55px;
   
}

#contact:before, #contact:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 4px;
    background-color: black;
}
#contact:before {
    left:0;
}
#contact:after {
    right:0;
}
.contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
input, textarea {
    width: 40%;
    font-size: 23px;
    margin-bottom: 18px;
    padding: 3px 12px;
}
input, textarea, button {
    border-radius: 5px;
}
textarea {
    width: 40%;
}
button {
    width: 170px;
    font-size: 10px;
    padding: 7px;
    height: 60px;
    background-color: #5b656d;
    margin-top: 26px;
    cursor: pointer;
    color: white;
}    
.button  {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    line-height: 70px;
    overflow: hidden;
    font-size: 20px;
    padding: 0 30px;
  }
  .button:hover {
    color: #fff;
  }
  .button::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }

  .button:hover::after {
    background: #333;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  @media screen and (max-width:780px) {
      .top {
          height: 50vh;;
          width:  90vw;
      }
      .nav {
          font-size: 20px;

      }
      .top #top-name {
          font-size: 50px;
      }
      .about {
          font-size: 5px;
      }
      .main_photo {
          flex-direction: column;
      }
      .subtitle {
          flex-direction: column;
          padding-left: 200px;
          padding-bottom: 70px ;
        
      }
      .container2 {
          flex-direction: column;
      }
      .yoga {
          margin: 0 auto;
          width: 500px;
      }
      .profile {
          margin: 20px auto;
      }
      .name3 {
          display: flex;
          flex-direction: column;
      }
      .name3 > img {
          order: 1;
      }
      .name3 > p {
          order: 3;
      }
      .name3 > h2 {
          order: 2;
      }
      
      
    


      }

  



